@layer tokens {
    :where(:root, :host) {
  --colors-dark-blue-50: #10253E;
  --colors-dark-blue-100: #102C4C;
  --colors-dark-blue-200: #0F3158;
  --colors-dark-blue-300: #0D3868;
  --colors-dark-blue-400: #0A4281;
  --colors-dark-blue-500: #0952A5;
  --colors-dark-blue-600: #0072F5;
  --colors-dark-blue-700: #3694FF;
  --colors-dark-blue-800: #3694FF;
  --colors-dark-blue-900: #EAF4FF;
  --colors-dark-cyan-50: #012A32;
  --colors-dark-cyan-100: #023A46;
  --colors-dark-cyan-200: #024B5A;
  --colors-dark-cyan-300: #036072;
  --colors-dark-cyan-400: #037086;
  --colors-dark-cyan-500: #048EA9;
  --colors-dark-cyan-600: #06B7DB;
  --colors-dark-cyan-700: #33D9FA;
  --colors-dark-cyan-800: #6FE4FB;
  --colors-dark-cyan-900: #EBFBFE;
  --colors-dark-gray-50: #16181A;
  --colors-dark-gray-100: #26292B;
  --colors-dark-gray-200: #2B2F31;
  --colors-dark-gray-300: #313538;
  --colors-dark-gray-400: #3A3F42;
  --colors-dark-gray-500: #4C5155;
  --colors-dark-gray-600: #697177;
  --colors-dark-gray-700: #787F85;
  --colors-dark-gray-800: #9BA1A6;
  --colors-dark-gray-900: #ECEDEE;
  --colors-dark-green-50: #042F14;
  --colors-dark-green-100: #06381B;
  --colors-dark-green-200: #074A24;
  --colors-dark-green-300: #0A6130;
  --colors-dark-green-400: #0B7439;
  --colors-dark-green-500: #0F9549;
  --colors-dark-green-600: #17C964;
  --colors-dark-green-700: #41EC8B;
  --colors-dark-green-800: #78F2AD;
  --colors-dark-green-900: #ECFDF4;
  --colors-dark-pink-50: #330025;
  --colors-dark-pink-100: #470033;
  --colors-dark-pink-200: #5C0042;
  --colors-dark-pink-300: #750054;
  --colors-dark-pink-400: #8A0063;
  --colors-dark-pink-500: #AD007C;
  --colors-dark-pink-600: #FF4ECD;
  --colors-dark-pink-700: #FF2EC4;
  --colors-dark-pink-800: #FF6BD5;
  --colors-dark-pink-900: #FFEBF9;
  --colors-dark-purple-50: #1F0A33;
  --colors-dark-purple-100: #240C3C;
  --colors-dark-purple-200: #2E0F4D;
  --colors-dark-purple-300: #3B1362;
  --colors-dark-purple-400: #451773;
  --colors-dark-purple-500: #571D91;
  --colors-dark-purple-600: #7828C8;
  --colors-dark-purple-700: #9750DD;
  --colors-dark-purple-800: #B583E7;
  --colors-dark-purple-900: #F7ECFC;
  --colors-dark-red-50: #300313;
  --colors-dark-red-100: #300313;
  --colors-dark-red-200: #44041A;
  --colors-dark-red-300: #5C0523;
  --colors-dark-red-400: #6F062B;
  --colors-dark-red-500: #910838;
  --colors-dark-red-600: #F31260;
  --colors-dark-red-700: #F4256D;
  --colors-dark-red-800: #F75F94;
  --colors-dark-red-900: #FDD8E5;
  --colors-dark-yellow-50: #3A2503;
  --colors-dark-yellow-100: #442B03;
  --colors-dark-yellow-200: #583804;
  --colors-dark-yellow-300: #704705;
  --colors-dark-yellow-400: #845306;
  --colors-dark-yellow-500: #A66908;
  --colors-dark-yellow-600: #F5A524;
  --colors-dark-yellow-700: #F6AD37;
  --colors-dark-yellow-800: #F8C572;
  --colors-dark-yellow-900: #FEF7EC;
  --colors-blue-50: #EDF5FF;
  --colors-blue-100: #E1EFFF;
  --colors-blue-200: #CEE4FE;
  --colors-blue-300: #B7D5F8;
  --colors-blue-400: #96C1F2;
  --colors-blue-500: #5EA2EF;
  --colors-blue-600: #0072F5;
  --colors-blue-700: #005FCC;
  --colors-blue-800: #004799;
  --colors-blue-900: #00254D;
  --colors-cyan-50: #F0FCFF;
  --colors-cyan-100: #E6FAFE;
  --colors-cyan-200: #D7F8FE;
  --colors-cyan-300: #C3F4FD;
  --colors-cyan-400: #A5EEFD;
  --colors-cyan-500: #7EE7FC;
  --colors-cyan-600: #06B7DB;
  --colors-cyan-700: #09AACD;
  --colors-cyan-800: #0E8AAA;
  --colors-cyan-900: #053B48;
  --colors-gray-50: #F1F3F5;
  --colors-gray-100: #ECEEF0;
  --colors-gray-200: #E6E8EB;
  --colors-gray-300: #DFE3E6;
  --colors-gray-400: #D7DBDF;
  --colors-gray-500: #C1C8CD;
  --colors-gray-600: #889096;
  --colors-gray-700: #7E868C;
  --colors-gray-800: #687076;
  --colors-gray-900: #11181C;
  --colors-green-50: #F1FDF7;
  --colors-green-100: #E8FCF1;
  --colors-green-200: #DAFBE8;
  --colors-green-300: #C8F9DD;
  --colors-green-400: #ADF5CC;
  --colors-green-500: #88F1B6;
  --colors-green-600: #17C964;
  --colors-green-700: #13A452;
  --colors-green-800: #108944;
  --colors-green-900: #06371B;
  --colors-pink-50: #FFF0FB;
  --colors-pink-100: #FFE5F8;
  --colors-pink-200: #FFD6F3;
  --colors-pink-300: #FFC2EE;
  --colors-pink-400: #FFA3E5;
  --colors-pink-500: #FF7AD9;
  --colors-pink-600: #FF4ECD;
  --colors-pink-700: #D6009A;
  --colors-pink-800: #B80084;
  --colors-pink-900: #4D0037;
  --colors-purple-50: #F7F2FD;
  --colors-purple-100: #F1E8FB;
  --colors-purple-200: #EADCF8;
  --colors-purple-300: #E0CBF5;
  --colors-purple-400: #D1B1F0;
  --colors-purple-500: #BC8EE9;
  --colors-purple-600: #7828C8;
  --colors-purple-700: #6622AA;
  --colors-purple-800: #4D1980;
  --colors-purple-900: #290E44;
  --colors-red-50: #FEF0F5;
  --colors-red-100: #FEE7EF;
  --colors-red-200: #FDD8E5;
  --colors-red-300: #FCC5D8;
  --colors-red-400: #FAA8C5;
  --colors-red-500: #F881AB;
  --colors-red-600: #F31260;
  --colors-red-700: #B80A47;
  --colors-red-800: #910838;
  --colors-red-900: #4E041E;
  --colors-yellow-50: #FEF9F0;
  --colors-yellow-100: #FEF5E7;
  --colors-yellow-200: #FDEFD8;
  --colors-yellow-300: #FCE7C5;
  --colors-yellow-400: #FBDBA7;
  --colors-yellow-500: #F9CB80;
  --colors-yellow-600: #F5A524;
  --colors-yellow-700: #B97509;
  --colors-yellow-800: #925D07;
  --colors-yellow-900: #4E3104;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --shadows-primary: 0 4px 14px 0 #5EA2EF;
  --shadows-secondary: 0 4px 14px 0 #BC8EE9;
  --shadows-success: 0 4px 14px 0 #88F1B6;
  --shadows-warning: 0 4px 14px 0 #F9CB80;
  --shadows-error: 0 4px 14px 0 #F881AB;
  --colors-primary: #0072F5;
  --colors-primary-light: #CEE4FE;
  --colors-primary-light-hover: #B7D5F8;
  --colors-primary-light-active: #96C1F2;
  --colors-primary-light-contrast: #0072F5;
  --colors-primary-border: #5EA2EF;
  --colors-primary-border-hover: #0072F5;
  --colors-primary-solid-hover: #005FCC;
  --colors-primary-solid-contrast: var(--colors-white);
  --colors-primary-shadow: #5EA2EF;
  --colors-secondary: #7828C8;
  --colors-secondary-light: #EADCF8;
  --colors-secondary-light-hover: #E0CBF5;
  --colors-secondary-light-active: #D1B1F0;
  --colors-secondary-light-contrast: #7828C8;
  --colors-secondary-border: #BC8EE9;
  --colors-secondary-border-hover: #7828C8;
  --colors-secondary-solid-hover: #6622AA;
  --colors-secondary-solid-contrast: var(--colors-white);
  --colors-secondary-shadow: #BC8EE9;
  --colors-success: #17C964;
  --colors-success-light: #DAFBE8;
  --colors-success-light-hover: #C8F9DD;
  --colors-success-light-active: #ADF5CC;
  --colors-success-light-contrast: #13A452;
  --colors-success-border: #88F1B6;
  --colors-success-border-hover: #17C964;
  --colors-success-solid-hover: #13A452;
  --colors-success-solid-contrast: var(--colors-white);
  --colors-success-shadow: #88F1B6;
  --colors-warning: #F5A524;
  --colors-warning-light: #FDEFD8;
  --colors-warning-light-hover: #FCE7C5;
  --colors-warning-light-active: #FBDBA7;
  --colors-warning-light-contrast: #B97509;
  --colors-warning-border: #F9CB80;
  --colors-warning-border-hover: #F5A524;
  --colors-warning-solid-hover: #B97509;
  --colors-warning-solid-contrast: var(--colors-white);
  --colors-warning-shadow: #F9CB80;
  --colors-error: #F31260;
  --colors-error-light: #FDD8E5;
  --colors-error-light-hover: #FCC5D8;
  --colors-error-light-active: #FAA8C5;
  --colors-error-light-contrast: #F31260;
  --colors-error-border: #F881AB;
  --colors-error-border-hover: #F31260;
  --colors-error-solid-hover: #B80A47;
  --colors-error-solid-contrast: var(--colors-white);
  --colors-error-shadow: #F881AB
}

[data-color-mode=dark] {
  --shadows-primary: 0 4px 14px 0 #0952A5;
  --shadows-secondary: 0 4px 14px 0 #571D91;
  --shadows-success: 0 4px 14px 0 #0F9549;
  --shadows-warning: 0 4px 14px 0 #A66908;
  --shadows-error: 0 4px 14px 0 #910838;
  --colors-primary: #0072F5;
  --colors-primary-light: #0F3158;
  --colors-primary-light-hover: #0D3868;
  --colors-primary-light-active: #0A4281;
  --colors-primary-light-contrast: #0072F5;
  --colors-primary-border: #0952A5;
  --colors-primary-border-hover: #0072F5;
  --colors-primary-solid-hover: #3694FF;
  --colors-primary-solid-contrast: var(--colors-dark-white);
  --colors-primary-shadow: #0952A5;
  --colors-secondary: #7828C8;
  --colors-secondary-light: #2E0F4D;
  --colors-secondary-light-hover: #3B1362;
  --colors-secondary-light-active: #451773;
  --colors-secondary-light-contrast: #7828C8;
  --colors-secondary-border: #571D91;
  --colors-secondary-border-hover: #7828C8;
  --colors-secondary-solid-hover: #9750DD;
  --colors-secondary-solid-contrast: var(--colors-dark-white);
  --colors-secondary-shadow: #571D91;
  --colors-success: #17C964;
  --colors-success-light: #074A24;
  --colors-success-light-hover: #0A6130;
  --colors-success-light-active: #0B7439;
  --colors-success-light-contrast: #41EC8B;
  --colors-success-border: #0F9549;
  --colors-success-border-hover: #17C964;
  --colors-success-solid-hover: #41EC8B;
  --colors-success-solid-contrast: var(--colors-dark-white);
  --colors-success-shadow: #0F9549;
  --colors-warning: #F5A524;
  --colors-warning-light: #583804;
  --colors-warning-light-hover: #704705;
  --colors-warning-light-active: #845306;
  --colors-warning-light-contrast: #F6AD37;
  --colors-warning-border: #A66908;
  --colors-warning-border-hover: #F5A524;
  --colors-warning-solid-hover: #F6AD37;
  --colors-warning-solid-contrast: var(--colors-dark-white);
  --colors-warning-shadow: #A66908;
  --colors-error: #F31260;
  --colors-error-light: #44041A;
  --colors-error-light-hover: #5C0523;
  --colors-error-light-active: #6F062B;
  --colors-error-light-contrast: #F31260;
  --colors-error-border: #910838;
  --colors-error-border-hover: #F31260;
  --colors-error-solid-hover: #F4256D;
  --colors-error-solid-contrast: var(--colors-dark-white);
  --colors-error-shadow: #910838
}
  }
  